---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero1994 from "../components/Hero1994.astro";
import Services from "../components/Services.astro";
import Process from "../components/Process.astro";
import About from "../components/About.astro";
import HomeListings from "../components/HomeListings.astro";
import Memberships from "../components/Memberships.astro";
import Press from "../components/Press.astro";
import Regions from "../components/Regions.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import SchemaGraph from "../components/SchemaGraph.astro";
---

<Layout>
  <SchemaGraph slot="head" />
  <Header />
  <main id="main">
    <Hero1994 />
    <About />
    <HomeListings />
    <Memberships />
    <Services />
    <Process />
    <Press />
    <Regions />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
